{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kanrigate.fullname" . }}
  labels:
    {{- include "kanrigate.labels" . | nindent 4 }}
rules:
  - verbs:
      - get
      - list
      - create
      - update
      - delete
      - watch
    apiGroups:
      - ''
    resources:
      - serviceaccounts
      - secrets
      - namespaces
  - verbs:
      - get
      - list
      - create
      - update
      - delete
      - bind
      - watch
    apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterrolebindings
      - clusterroles
      - rolebindings
      - roles
{{- end }}
